<a href="https://colab.research.google.com/github/0marRahmon/Python-Classes-/blob/main/Pyhton_clas_9_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Advance Arguements passing 
#Keyword Arguement 
def a(name,course,sec):
  print("My name is",name,"My course is",course,"My section is",sec)
  print(type(name))
  print(type(course))
  print(type(sec))
a("Omar",course="BBA",sec="A")

My name is Omar My course is BBA My section is A
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
# N number of arguements(*args)When we don't know the exact number od arguements we use *args
def details(Teacher,*args,**kwargs):
  print("The teacher name is",Teacher)
  for roll_no in args:
    print("The student rollno is",roll_no)
  for subject in kwargs:
    print(subject ,kwargs[subject])
details("Omar",2,5,1,6,7,10,42,pyhton=100,data=23,hi=2)

The teacher name is Omar
The student rollno is 2
The student rollno is 5
The student rollno is 1
The student rollno is 6
The student rollno is 7
The student rollno is 10
The student rollno is 42
pyhton 100
data 23
hi 2

In [19]:
def contents(Phy,Chem,*args,**kwargs):
  print("The conetnts of the table is",Phy,Chem)
  for table in args:
    print("The main subject is",table)
  for subject in kwargs:
    print(subject,kwargs[subject])
contents("a,b,c2",3,2,10,phy=10,chem=20)

The conetnts of the table is a,b,c2 3
The main subject is 2
The main subject is 10
phy 10
chem 20