<a href="https://colab.research.google.com/github/0marRahmon/Python-Classes-/blob/main/Python_Class_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

A=["Data","Stat","No","Hi",263]
print(A)
#Inserting New Data 
A.insert(5,344)
A.insert(6,"Hola")
A.insert(7,"Sui")
print(A)
#Append of data 
A.append("Messi")
A.append(34.34)
print(A)
#Updating of data 
A[1]="Tata"
A[0]="Goal"
A[-3]="Ronaldo"
print(A)

A.insert(1,23)
print(A)
print(type(A))

['Data', 'Stat', 'No', 'Hi', 263]
['Data', 'Stat', 'No', 'Hi', 263, 344, 'Hola', 'Sui']
['Data', 'Stat', 'No', 'Hi', 263, 344, 'Hola', 'Sui', 'Messi', 34.34]
['Goal', 'Tata', 'No', 'Hi', 263, 344, 'Hola', 'Ronaldo', 'Messi', 34.34]
['Goal', 23, 'Tata', 'No', 'Hi', 263, 344, 'Hola', 'Ronaldo', 'Messi', 34.34]
<class 'list'>

In [ ]:
A=[23,45]
print(A)
A.insert(1,322)
print(A)
#How to insert two values at the same time 
#Using extend 
B=[23,45,66]
A.extend(B)
print(A)

[23, 45]
[23, 322, 45]
[23, 322, 45, 23, 45, 66]

In [ ]:
A=[1,2,3,4]
B=[5,6,7,8]
A.extend(B)
#You can use double insertion making use of other variable 
print(A)
A.insert(2,B)
print(A)
A.pop(-2)
print(A)
A.pop(0)
print(A)
A.remove(5)
print(A)
del A[2]
print(A)
A.remove(B)
print(A)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, [5, 6, 7, 8], 3, 4, 5, 6, 7, 8]
[1, 2, [5, 6, 7, 8], 3, 4, 5, 6, 8]
[2, [5, 6, 7, 8], 3, 4, 5, 6, 8]
[2, [5, 6, 7, 8], 3, 4, 6, 8]
[2, [5, 6, 7, 8], 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
x=input("Enter a value ")
y=input("Enter a value")
print("the tota value is",(x+y))

Enter a value 23
Enter a value22
the tota value is 2322

In [ ]:
x=int(input("Enter the value"))
y=int(input("Enter the value"))
print("The final vaue is",(x+y))

Enter the value100
Enter the value200
The final vaue is 300