<a href="https://colab.research.google.com/github/0marRahmon/Python-Classes-/blob/main/Python_class_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
ABC="Messi"
print(ABC[0:5:2])
print(ABC[0:5:1])
print(ABC[0:5:3])
print(ABC[1:5:2])
print(ABC[-5:-1:2])

Msi
Messi
Ms
es
Ms

In [15]:
#Functions is a set of data that will be executed whenever it is invoked or called
#We use def for functions 
#Two examples of printing a set of data 5 times
#The normal method without functions   
A="Python"
print(A)
print(A)
print(A)
print(A)
print(A)
#Example 2 with the usage of functions 

def C():
  print("Java")
C()
C()
C()
C()
C()

Python
Python
Python
Python
Python
Java
Java
Java
Java
Java

In [16]:
#For loop
for i in range(5):
  print("Java script")

Java script
Java script
Java script
Java script
Java script

In [21]:
#Using For loop with a function 
def A():
  for B in range(5):
    print("Hello")
A()

Hello
Hello
Hello
Hello
Hello

In [30]:
#Using Functions to print two different values or arguements 
def S(num1,num2):
   print("The sum of the two numbers are",(num1+num2))
S(50,50)

def AB(num1,num2):
  print("The difference between the two numbers are",(num1-num2))
AB(300,200)

def CD(num1,num2):
  print("The product of two numbers are",(num1*num2))
CD(10,10)

The sum of the two numbers are 100
The difference between the two numbers are 100
The product of two numbers are 100

In [34]:
#Using input with functions 
def W():
  a=input("Enter a number here")
  b=input("Enter another number here")
  print("The sum of two numbers is",(a+b))
W()

Enter a number here10
Enter another number here10
The sum of two numbers is 1010

In [1]:
#Using integer with input and functions 
def AA():
  a=int(input("Enter one number"))
  b=int(input("Enter another number"))
  print("The sum of two numbers is",(a+b))
AA()

Enter one number50
Enter another number50
The sum of two numbers is 100

In [6]:
#Using functions with words and numbers 
def A(word,word1):
  print("My name is",word,word1)
A("Omar","Rahmon")

def B(title,number):
  print("and my age is",title,number)
B("Nineteen or",19)

My name is Omar Rahmon
and my age is Nineteen or 19

In [15]:
#Concatination with input from users but values cannot be added or subtracted 
def A():
   a= input("What is your name")
   b= input("Which class do you belong to")
   c= input("What is your age")
   print("My name is",(a),"And i belong to section",(b),"My age is",(c))
A()

What is your name Omar
Which class do you belong to A
What is your age 19
My name is  Omar  And i belong to section  A My age is  19

In [17]:
#Using for loop with tuple,list, we us for Variable in Old variable
A={"A","B","c","D","E","F","G","H"}
for a in A:
  print(a)

E
D
A
H
F
G
c
B

In [18]:
#Using for loop with list
A=["A","B","c","D","E","F","G","H"]
for a in A:
  print(a)

A
B
c
D
E
F
G
H