<a href="https://colab.research.google.com/github/0marRahmon/Python-Classes-/blob/main/Python_Class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Set revision i.e Union 
Set1={1,2,4,5,6,7}
Set2={10,11,12,13,14}
Set1.add(20)
print(Set1)
print(Set2)
Set3= Set1|Set2
print(Set3)
Set4={1100,"Omar","Suii"}
Set5=Set3.union(Set4)
print(Set5)

{1, 2, 4, 5, 6, 7, 20}
{10, 11, 12, 13, 14}
{1, 2, 4, 5, 6, 7, 10, 11, 12, 13, 14, 20}
{1, 2, 4, 5, 6, 7, 'Suii', 10, 11, 12, 13, 14, 1100, 'Omar', 20}

In [23]:
#Updating Dictionary 
A={
     "Name":"Omar",
    "Class":"BBA",
    "Roll no":45,
   "Section":"A"
   }
print(A)
#Step 1 is to assign new variable 
B=A["Class"]
del A["Class"]
A["Course"]=B
A["Section"]="C"
A.pop("Roll no")
print(A)

{'Name': 'Omar', 'Class': 'BBA', 'Roll no': 45, 'Section': 'A'}
{'Name': 'Omar', 'Section': 'C', 'Course': 'BBA'}

In [27]:
#Use of Intersection ie common data 
Set1={1,2,3,4,5,6,100}
Set2={2,4,6,8,22}
Set3=Set1.intersection(Set2)
Set4=Set1.difference(Set2)
print(Set3)
print(Set4)

{2, 4, 6}
{1, 3, 100, 5}

In [32]:
Set10={1,2,4,"Data","Python"}
Set11={0,1,3,"Python","Suii"}
Set12={22,33,"Suii",0,"Python"}
Set13={"Data","Python","Suii"}
Set14=Set10&Set11
Set15=Set12&Set13
Set16=Set14&Set15
Set17=Set14|Set15
print(Set16)
print(Set14)
print(Set15)
print(Set17)

{'Python'}
{1, 'Python'}
{'Suii', 'Python'}
{1, 'Suii', 'Python'}

In [35]:
#Indexing is printing indiviual elements 
#Slicing used to print the range of the elements

ABC="Messi"

print(ABC[2:5])
print(ABC[0:])
print(ABC[:4])
print(ABC[-1:])
print(ABC[:-3])
print(ABC[-3:-5])

ssi
Messi
Mess
i
Me