<a href="https://colab.research.google.com/github/0marRahmon/Python-Classes-/blob/main/Python_class_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Advance arguements passing 
#Positional arguement means that the arguement will be passed according to the position of the arguement 
def A(Word1,Word2):
   print("The goat of football is either",Word1,"or",Word2)
A("Messi","Ronaldo")

The goat of football is either Messi or Ronaldo

In [7]:
def A(a,b):
  print("Addition",a+b)
  print("Subtraction",a-b)
  print("Multiplication",a*b)
A(20,10)

Addition 30
Subtraction 10
Multiplication 200

In [14]:
#Keyboard arguements
def A(Word1="Messi",Word2="Ronaldo"):
   print("The goat of football is either","\n",Word1,"or",Word2)
A()

The goat of football is either
 Messi or Ronaldo

In [17]:
#Iterators - Printing of the data one after another 
#We use iter or next method 
A=[1,2,3,4,5,6,]
B=iter(A)
print(next(B))

1

In [28]:
#Sequence 
A=[1,2,3,4,5,6,]
print("Data"in A )
print(2 in A)

False
True

In [33]:
#How to find the desired index number 
A="Hello Python"
print(A.index("o"))

4

In [34]:
#Now if i waqnt to find out the index number of the second o 
A="Hello Python"
print(A.index("o",5))

10

In [43]:
#How to find the minimum and maximum in a list 
A=[1,2,3,4,5,234,999,2,123,2537,2]
print(A.index(2))
print(A.index(2,2,10))
print(len(A))
print(A.index(2,8,11))
print(min(A))
print(max(A))
print(A*2)

1
7
11
10
1
2537
[1, 2, 3, 4, 5, 234, 999, 2, 123, 2537, 2, 1, 2, 3, 4, 5, 234, 999, 2, 123, 2537, 2]